<!-- <div class="header header-fixed">
  <div class="navbar container">
      <div class="logo"><a [routerLink]="['/']">LOGO</a></div>
      <input type="checkbox" id="navbar-toggle" >
      <label for="navbar-toggle"><i></i></label>
      <nav class="menu">
          <ul>
              <li><a routerLink="/where-my-mouse-moves">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#contacts">Contacts</a></li>
          </ul>
      </nav>        
  </div>
</div> -->
<p>it's working</p>
<a routerLink="/">Custom Select</a>
<a href="">my logic</a>
<button routerLink="/">home</button>