<div class="header header-fixed">
  <div class="navbar container">
      <div class="logo"><a [routerLink]="['/']">NG Hobbies</a></div>
      <input type="checkbox" id="navbar-toggle" >
      <label for="navbar-toggle"><i></i></label>
      <nav class="menu">
          <ul>
              <li><a routerLink="/where-my-mouse-moves" routerLinkActive="menu-active">Mouse Location</a></li>
              <li><a routerLink="/toggle" routerLinkActive="menu-active">Toggle</a></li>
              <li><a routerLink="#" routerLinkActive="menu-active">upcomng</a></li>
              <li><a routerLink="#" routerLinkActive="menu-active">upcoming</a></li>
          </ul>
      </nav>        
  </div>
</div>